In [1]:
import pandas as pd
import random
import pickle
from sklearn.model_selection import train_test_split

In [2]:
prior = pd.read_csv('data/order_products__prior.csv')

In [3]:
recent_orders = pd.read_csv('data/order_products__train.csv')

In [4]:
orders_all = pd.read_csv('data/orders.csv')

In [5]:
orders_all.tail()

,order_id,user_id,eval_set,order_number,order_dow,order_hour_of_day,days_since_prior_order
3421078,2266710,206209,prior,10,5,18,29.0
3421079,1854736,206209,prior,11,4,10,30.0
3421080,626363,206209,prior,12,1,12,18.0
3421081,2977660,206209,prior,13,1,12,7.0
3421082,272231,206209,train,14,6,14,30.0

Take out Kaggle test set(order details are not available)

In [6]:
kaggle_test = orders_all[orders_all['eval_set']=='test']
kaggle_test.shape

(75000, 7)

In [7]:
orders_all = orders_all[~(orders_all['eval_set']=='test')]

In [8]:
orders_all.shape

(3346083, 7)

In [9]:
orders_all[orders_all['eval_set']=='train'].shape

(131209, 7)

In [14]:
#Select 20000 user as holdout test
test_users = {random.randint(1, 206209) for x in range(20000)}

In [24]:
with open('data/test_users.pkl', 'wb') as f:
    pickle.dump(test_users, f)

In [26]:
len(test_users)

19093

**Make a subset of 5000 user.**

In [ ]:
select ~5000 from 206209 users to make a subset
users = {random.randint(1, 206209) for x in range(5000)}

In [15]:
users=set()
while len(users)<5000:
    i = random.randint(1, 206209)
    if i not in test_users:
        users.add(i)

In [17]:
len(users)

5000

Check data set size.

In [18]:
orders = orders_all[orders_all.user_id.isin(users)]
orders.shape

(83003, 7)

In [19]:
prior_sub = prior[prior.order_id.isin(orders.order_id)]
prior_sub.shape

(812517, 4)

In [20]:
recent_orders_sub = recent_orders[recent_orders.order_id.isin(orders.order_id)]
recent_orders_sub.shape

(33952, 4)

In [21]:
subset = (orders, prior_sub, recent_orders_sub)
with open('data/larger_subset.pkl', 'wb') as f:
    pickle.dump(subset, f)

In [22]:
orders_all.user_id.nunique()

206209

In [89]:
recent_orders.order_id.nunique()

131209

More users ID than recent order number. Some users only have prior order info